
@{
    ViewData["Title"] = "Home Page";
}

<!-- banner -->
	 <!-- Slider-starts-Here -->
	 <script src="~/js/responsiveslides.min.js"></script>
	 <script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto:true,
			nav: false,
			speed: 500,
			namespace: "callbacks",
			pager:true,
		  });
		});
		
	   </script>
	 <div class="slider">
		  <div class="callbacks_container">
			  <ul class="rslides" id="slider">
				
					<div class="slid banner1">
						  <div class="caption">
								<h3>GAME STORE - UY TÍN - NHANH GỌN</h3>
								<p>CHÀO MỪNG BẠN ĐẾN VỚI WEBSITE BÁN GAME CỦA CHÚNG TÔI</p>
						  </div>
					</div>
				
				
					 <div class="slid banner2">	
						  <div class="caption">
								<h3>GOD OF WAR - KRATOS - SONY SANTA MONICA</h3>
								<p>CHUẨN BỊ HÒA MÌNH VÀO THẾ GIỚI MỞ HUYỀN BÍ - BẠN ĐÃ SẴN SÀNG CHƯA NÀO</p>
						  </div>
					 </div>
				
				
					<div class="slid banner3">	
						<div class="caption">
							<h3>Battlefield 4 - game - explosion - digital illusions</h3>
							<p>TRÒ CHƠI NÀY CÓ THỂ CHỨA NỘI DUNG KHÔNG PHÙ HỢP CHO MỌI LỨA TUỔI, HOẶC CÓ THỂ KHÔNG ĐƯỢC CHỈ ĐỊNH ĐỂ XEM TẠI CÔNG VIỆC.</p>
						</div>
					</div>
				
			  </ul>
		 </div>
	 </div>

<!-- content -->
<div class="content">
	 <div class="container">
		 <div class="top-games">
			 <h3>Top Games Hot</h3>
			 <span></span>
		 </div>
		 <div class="top-game-grids">
			 <ul id="flexiselDemo1">
				@{
					BanGameBanQuyen.Models.BanGameBanQuyenContext db = new BanGameBanQuyen.Models.BanGameBanQuyenContext();
					var gameHot = db.SanPhams.Where(x => x.BestSeller == true);
				}
				@foreach (var item in gameHot)
			   {
				   <li>
					   <a asp-action="Details" asp-controller="SanPham" asp-route-id="@item.MaSp">
					 <div class="game-grid">
						 <h4>@item.TenSp</h4>
						 <p>@item.GiaSp.ToString("#,##0") VNĐ</p>
						 <img src="@item.AnhSp" class="img-responsive" alt=""/>
					 </div>	
					 </a>
				 </li>
			   }
				 
			 </ul>
			 
			 <script type="text/javascript">
			 $(window).load(function() {			
			  $("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
			});
			</script>
			<script type="text/javascript" src="~/js/jquery.flexisel.js"></script>	
		 </div>
	 </div>
</div>

<!-- poster -->
<div class="poster">
	 <div class="container">
		 <div class="poster-info">
			 <h3>Đắm chìm trong thế giới game li kì đầy màu sắc.</h3>
			 <p>Web Game Bản Quyền Uy Tín Số 1 Việt Nam</p>
			  <a class="hvr-bounce-to-bottom" href="reviews.html">Xem Thêm</a>
		 </div>
	 </div>
</div>
